#create-order-details-section.create-order-details-section {
    display        : table-cell;
    width          : calc(100vw - (60px + 300px));
    padding        : 20px;
    position       : fixed;
    overflow-x     : hidden;
    overflow-y     : scroll;
    scrollbar-width: none;
    height         : calc(100vh - (74px + 73px + 20px + 32px));

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        box-shadow   : inset 0 0 5px grey;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background   : #168fff;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #004e98;
    }

    .create-order-details-section-inner {
        box-shadow        : 0px 0px 8px #026CD11A;
        border-radius     : 8px;
        padding           : 20px 0;
        height            : calc(100vh - (74px + 73px + 40px + 32px - 60px));
        // height       : 900px;
        // position     : fixed;
        // overflow-y     : scroll;
        // scrollbar-width: none;

        // &::-webkit-scrollbar {
        //     width: 2px;
        // }

        // &::-webkit-scrollbar-track {
        //     box-shadow   : inset 0 0 5px grey;
        //     border-radius: 10px;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background   : #168fff;
        //     border-radius: 10px;
        // }

        // &::-webkit-scrollbar-thumb:hover {
        //     background: #004e98;
        // }

        p.customer-id {
            padding      : 0 20px;
            font-size    : 18px;
            color        : #2F2F30;
            margin       : 0;
            margin-bottom: 20px;

            span.id {
                color: #026CD1;
            }

            span.customer-type {
                color         : #026CD1;
                font-size     : 12px;
                background    : #E2EDFA;
                padding       : 3px 6px;
                border-radius : 20px;
                margin-left   : 12px;
                vertical-align: middle;
            }
        }

        .header-summery-section {
            padding      : 0 20px;
            border-bottom: 1px solid #E9F1FB;

            .header-summery-section-inner {
                .row {
                    display: table;
                    width  : 100%;
                    margin : 0 0 20px;

                    p {
                        display       : table-cell;
                        width         : 20%;
                        font-size     : 14px;
                        margin        : 0;
                        padding       : 0;
                        line-height   : 1;
                        vertical-align: middle;

                        &:first-child {
                            width: 30%;
                        }

                        &:nth-child(2) {
                            width: 25%;
                        }

                        &:nth-child(3) {
                            width: 25%;
                        }

                        &:last-child {
                            width: 20%;
                        }

                        span {
                            color: #026CD1;
                        }
                    }

                    .sr {
                        .select-options {
                            display : inline-block;
                            width   : 100%;
                            float   : left;
                            position: relative;

                            span.right-icon {
                                svg {
                                    position : absolute;
                                    right    : 8px;
                                    top      : 6px;
                                    color    : #BFCFE2;
                                    transform: rotate(90deg);
                                }
                            }

                            select.selectpicker {
                                display     : block;
                                height      : 25px;
                                padding-left: 10px;
                                border      : 1px solid #BFCFE2;

                                option {}
                            }

                        }
                    }
                }
            }
        }

        .order-table {
            .order-table-inner {
                padding: 0 10px;

                table {
                    border-top: none;

                    // All Rows
                    tr {

                        display: table;
                        width  : 100%;
                    }

                    // Table Head
                    thead {
                        border-bottom: 1px solid #BFCFE2;

                        tr {
                            border-bottom: none;

                            th {
                                color      : #026CD1;
                                font-size  : 16px;
                                font-weight: 500;
                                width      : 15%;
                                text-align : center;
                            }

                            th:first-child {
                                width     : 25%;
                                text-align: left;
                            }

                            th:nth-child(5),
                            th:last-child {
                                text-align: right;
                            }
                        }
                    }

                    // Table Body
                    tbody {

                        // Table data rows should be scroll and in 300px height it shows 6/7 rows of data
                        .table-data-rows {
                            width            : 100%;
                            display          : list-item;
                            height           : 300px;
                            /* 6 or 7 rows*/
                            overflow         : auto;
                            -webkit-flex-flow: row wrap;

                            &::-webkit-scrollbar {
                                width: 2px;
                            }

                            &::-webkit-scrollbar-track {
                                box-shadow   : inset 0 0 5px grey;
                                border-radius: 10px;
                            }

                            &::-webkit-scrollbar-thumb {
                                background   : #168fff;
                                border-radius: 10px;
                            }

                            &::-webkit-scrollbar-thumb:hover {
                                background: #004e98;
                            }
                        }

                        tr {
                            border-bottom: none;

                            td {
                                color         : #222223;
                                font-size     : 14px;
                                font-weight   : 400;
                                width         : 15%;
                                border-top    : none;
                                padding       : 4px 10px;
                                text-align    : center;
                                vertical-align: middle;
                            }

                            td:first-child {
                                width: 25%;

                                span {
                                    display   : block;
                                    text-align: left;
                                }

                                span:last-child {
                                    font-size : 10px;
                                    text-align: left;
                                    color     : #B3B9BD;
                                }
                            }

                            td:nth-child(5),
                            td:last-child {
                                text-align: right;
                            }

                            // QUantity Column
                            td {
                                span.quantity-setup {

                                    span.qty-increase {
                                        display: none;
                                    }

                                    span.qty {
                                        margin: 0 10px;
                                    }

                                    span.qty-decrease {
                                        display: none;
                                    }
                                }
                            }

                            // Row Action Column
                            td.row-action {

                                span {
                                    display: none;
                                }
                            }

                            &:hover {
                                background: #E2EDFA;

                                // Quantity Column
                                td {
                                    span.quantity-setup {
                                        border       : 1px solid #026CD1;
                                        padding      : 2px 8px;
                                        border-radius: 2px;

                                        span.qty-increase {
                                            display  : inline-block;
                                            color    : #026CD1;
                                            font-size: 16px;
                                            cursor   : pointer;
                                            padding  : 4px;
                                        }

                                        span.qty {
                                            margin: 0 10px;
                                        }

                                        span.qty-decrease {
                                            display  : inline-block;
                                            color    : #AAC0D9;
                                            font-size: 16px;
                                            cursor   : pointer;
                                            padding  : 4px;
                                        }
                                    }
                                }

                                // Row Action Column
                                td.row-action {

                                    span {
                                        display      : inline-block;
                                        background   : #FFFFFF;
                                        padding      : 4px 8px;
                                        border-radius: 50%;
                                        margin       : 0 8px;
                                        cursor       : pointer;

                                        &:hover {
                                            background   : #FFFFFF;
                                            padding      : 4px 8px;
                                            border-radius: 50%;
                                            margin       : 0 4px;
                                        }
                                    }

                                    span.edit-icon {
                                        i {
                                            color    : #026CD1;
                                            font-size: 16px;
                                        }
                                    }

                                    span.delete-icon {
                                        svg {
                                            color : #026CD1;
                                            width : 14px;
                                            height: 14px;
                                        }
                                    }
                                }
                            }
                        }

                        tr#subtotal-section {
                            td {
                                span {
                                    display   : block;
                                    text-align: right;
                                    color     : #111213;
                                    font-size : 12px;
                                }
                            }

                            td:nth-child(4) {
                                span {
                                    color: #8D979F;
                                }
                            }

                            td:first-child {
                                span {
                                    margin-top: 10px;
                                    text-align: left;
                                    font-size : 14px;
                                    color     : #026CD1;
                                    cursor    : pointer;

                                    i {
                                        font-size   : 18px;
                                        margin-right: 6px;
                                    }
                                }

                                span:last-child {
                                    margin-top: 30px;
                                    color     : #8D979F;

                                    i {
                                        transform: rotate(40deg);
                                    }
                                }
                            }

                            &:hover {
                                background: none;
                            }
                        }

                        tr#grand-total-section {
                            td {
                                span {
                                    width      : auto;
                                    text-align : right;
                                    color      : #026CD1;
                                    font-size  : 14px;
                                    font-weight: 500;
                                }
                            }

                            &:hover {
                                background: none;
                            }
                        }
                    }
                }
            }
        }

        .submit-section {
            .submit-section-inner {
                text-align: center;

                span.cancel-order {
                    font-size    : 14px;
                    color        : #DF2A43;
                    padding      : 11px 29px 10px;
                    border       : 1px solid #DF2A43;
                    border-radius: 2px;
                    cursor       : pointer;
                }

                span.proceed-order {
                    margin-left  : 40px;
                    font-size    : 14px;
                    color        : #FFFFFF;
                    background   : #026CD1;
                    padding      : 12px 26px 11px;
                    border-radius: 2px;
                    cursor       : pointer;
                }
            }
        }
    }
}